<html lang="en" xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8">
<div class="layui-fluid" th:fragment="card">
	<div class="layui-row layui-col-space15">
		<div class="layui-col-md3">
			<div class="layui-card">
				<div class="layui-card-header">
					PV
					<span class="layui-badge layui-bg-blue layuiadmin-badge">总</span>
				</div>
				<div class="layui-card-body layuiadmin-card-list">
					<p class="layuiadmin-big-font">9,999,666</p>
					<p>
						平均
						<span class="layuiadmin-span-color">
							8W
							<i class="layui-icon layui-icon-username"></i>
						</span>
					</p>
				</div>
			</div>
		</div>
		<div class="layui-col-md3">
			<div class="layui-card">
				<div class="layui-card-header">
					PV
					<span class="layui-badge layui-bg-blue layuiadmin-badge">今日</span>
				</div>
				<div class="layui-card-body layuiadmin-card-list">
					<p class="layuiadmin-big-font">9,999,666</p>
					<p>
						昨日
						<span class="layuiadmin-span-color">
							8T
							<i class="layui-icon layui-icon-cellphone"></i>
						</span>
					</p>
				</div>
			</div>
		</div>
		<div class="layui-col-md3">
			<div class="layui-card">
				<div class="layui-card-header">
					UV
					<span class="layui-badge layui-bg-blue layuiadmin-badge">总</span>
				</div>
				<div class="layui-card-body layuiadmin-card-list">
					<p class="layuiadmin-big-font">9,999,666</p>
					<p>
						平均
						<span class="layuiadmin-span-color">
							5T
							<i class="layui-icon layui-icon-user"></i>
						</span>
					</p>
				</div>
			</div>
		</div>
		<div class="layui-col-md3">
			<div class="layui-card">
				<div class="layui-card-header">
					UV
					<span class="layui-badge layui-bg-blue layuiadmin-badge">今日</span>
				</div>
				<div class="layui-card-body layuiadmin-card-list">
					<p class="layuiadmin-big-font">9,999,666</p>
					<p>
						昨日
						<span class="layuiadmin-span-color">
							2T
							<i class="layui-icon layui-icon-star"></i>
						</span>
					</p>
				</div>
			</div>
		</div>
	</div>
</div>