<html lang="en" xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8">

<div class="layui-fluid" th:fragment="charts">
	<script type="text/javascript" th:src="@{/static/echarts/echarts.min.js}"></script>
	<div class="layui-row layui-col-space15">
		<div class="layui-col-md12">
			<div class="layui-card">
				<div class="layui-card-header">启动用户数</div>
				<div class="layui-card-body">
					<div id="peopleCount" style="width: 100%; height: 300px;"></div>
				</div>
			</div>
		</div>
		<div class="layui-col-md6">
			<div class="layui-card">
				<div class="layui-card-header">项目总PV</div>
				<div class="layui-card-body">
					<div id="projectPv" style="width: 100%; height: 500px;"></div>
				</div>
			</div>
		</div>
		<div class="layui-col-md6">
			<div class="layui-card">
				<div class="layui-card-header">项目总UV</div>
				<div class="layui-card-body">
					<div id="projectUv" style="width: 100%; height: 500px;"></div>
				</div>
			</div>
		</div>
	</div>

	<script type="text/javascript">
		var peopleCountChart = echarts.init(document.getElementById('peopleCount'));
		var peopleCountOption = {
			tooltip : {
				trigger : 'axis'
			},
			legend : {
				data : [ '2019/10/12', '2019/10/11' ],
				x : 'right'
			},
			xAxis : {
				type : 'category',
				boundaryGap : false,
				data : [ '00:00 - 00:59', '02:00 - 02:59', '04:00 - 04:59',
						'06:00 - 06:59' ]
			},
			grid : {
				left : '3%',
				right : '4%',
				bottom : '3%',
				containLabel : true
			},
			yAxis : {
				type : 'value',
				name : '人',
			},
			series : [ {
				type : 'line',
				name : '2019/10/12',
				data : [ 820, 100, 901, 300 ],
				areaStyle : {},
				color : '#417DF5'
			}, {
				type : 'line',
				name : '2019/10/11',
				data : [ 700, 800, 400, 1000 ],
				smooth : false,
				itemStyle : {
					normal : {
						lineStyle : {
							width : 3,
							type : 'dotted'
						}
					}
				},
				color : '#9CB7FF'
			} ]
		};
		peopleCountChart.setOption(peopleCountOption);
		
		var projectPvChart = echarts.init(document.getElementById('projectPv'));
		var projectPvOption = {
			legend : {},
			tooltip : {
				trigger : 'axis',
				showContent : false
			},
			dataset : {
				source : [
						//['product', '2012', '2013', '2014', '2015', '2016', '2017'],
						[ 'product', '2019/10/12', '2019/10/11', '2019/10/10', '2019/10/9', '2019/10/9', '2019/10/7' ],
						[ '电商平台', 41.1, 30.4, 65.1, 53.3, 83.8, 98.7 ],
						[ '双城燃气', 86.5, 92.1, 85.7, 83.1, 73.4, 55.1 ],
						[ '兴业商城', 24.1, 67.2, 79.5, 86.4, 65.2, 82.5 ],
						[ '招商美食', 55.2, 67.1, 69.2, 72.4, 53.9, 39.1 ] ]
			},
			xAxis : {
				type : 'category'
			},
			yAxis : {
				gridIndex : 0
			},
			grid : {
				top : '55%'
			},
			series : [ {
				type : 'line',
				smooth : true,
				seriesLayoutBy : 'row'
			}, {
				type : 'line',
				smooth : true,
				seriesLayoutBy : 'row'
			}, {
				type : 'line',
				smooth : true,
				seriesLayoutBy : 'row'
			}, {
				type : 'line',
				smooth : true,
				seriesLayoutBy : 'row'
			}, {
				type : 'pie',
				id : 'pie',
				radius : '30%',
				center : [ '50%', '25%' ],
				label : {
					formatter : '{b}: {@2019/10/12} ({d}%)'
				},
				encode : {
					itemName : 'product',
					value : '2019/10/12',
					tooltip : '2019/10/12'
				}
			} ]
		};
		projectPvChart.on('updateAxisPointer', function(event) {
			var xAxisInfo = event.axesInfo[0];
			if (xAxisInfo) {
				var dimension = xAxisInfo.value + 1;
				projectPvChart.setOption({
					series : {
						id : 'pie',
						label : {
							formatter : '{b}: {@[' + dimension + ']} ({d}%)'
						},
						encode : {
							value : dimension,
							tooltip : dimension
						}
					}
				});
			}
		});
		projectPvChart.setOption(projectPvOption);
		
		var projectUvChart = echarts.init(document.getElementById('projectUv'));
		var projectUvOption = {
				legend : {},
				tooltip : {
					trigger : 'axis',
					showContent : false
				},
				dataset : {
					source : [
							//['product', '2012', '2013', '2014', '2015', '2016', '2017'],
							[ 'product', '2019/10/12', '2019/10/11', '2019/10/10', '2019/10/9', '2019/10/9', '2019/10/7' ],
							[ '电商平台', 41.1, 30.4, 65.1, 53.3, 83.8, 98.7 ],
							[ '双城燃气', 86.5, 92.1, 85.7, 83.1, 73.4, 55.1 ],
							[ '兴业商城', 24.1, 67.2, 79.5, 86.4, 65.2, 82.5 ],
							[ '招商美食', 55.2, 67.1, 69.2, 72.4, 53.9, 39.1 ] ]
				},
				xAxis : {
					type : 'category'
				},
				yAxis : {
					gridIndex : 0
				},
				grid : {
					top : '55%'
				},
				series : [ {
					type : 'line',
					smooth : true,
					seriesLayoutBy : 'row'
				}, {
					type : 'line',
					smooth : true,
					seriesLayoutBy : 'row'
				}, {
					type : 'line',
					smooth : true,
					seriesLayoutBy : 'row'
				}, {
					type : 'line',
					smooth : true,
					seriesLayoutBy : 'row'
				}, {
					type : 'pie',
					id : 'pie',
					radius : '30%',
					center : [ '50%', '25%' ],
					label : {
						formatter : '{b}: {@2019/10/12} ({d}%)'
					},
					encode : {
						itemName : 'product',
						value : '2019/10/12',
						tooltip : '2019/10/12'
					}
				} ]
			};
			projectUvChart.on('updateAxisPointer', function(event) {
				var xAxisInfo = event.axesInfo[0];
				if (xAxisInfo) {
					var dimension = xAxisInfo.value + 1;
					projectUvChart.setOption({
						series : {
							id : 'pie',
							label : {
								formatter : '{b}: {@[' + dimension + ']} ({d}%)'
							},
							encode : {
								value : dimension,
								tooltip : dimension
							}
						}
					});
				}
			});
			projectUvChart.setOption(projectUvOption);

		window.onresize = function() {
			peopleCountChart.resize();
			projectPvChart.resize();
			projectUvChart.resize();
		}
	</script>
</div>