<html lang="en" xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8">

<div class="layui-fluid" th:fragment="charts">
	<script type="text/javascript" th:src="@{/static/echarts/echarts.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/map/china.js}"></script>
	<div class="layui-row layui-col-space15">
		<div class="layui-col-md12">
			<div class="layui-card">
				<div class="layui-card-header">启动用户数</div>
				<div class="layui-card-body">
					<div id="peopleCount" style="width: 100%; height: 300px;"></div>
				</div>
			</div>
		</div>
		<div class="layui-col-md6">
			<div class="layui-card">
				<div class="layui-card-header">项目总PV</div>
				<div class="layui-card-body">
					<div id="projectPv" style="width: 100%; height: 500px;"></div>
				</div>
			</div>
		</div>
		<div class="layui-col-md6">
			<div class="layui-card">
				<div class="layui-card-header">项目总UV</div>
				<div class="layui-card-body">
					<div id="projectUv" style="width: 100%; height: 500px;"></div>
				</div>
			</div>
		</div>
		<div class="layui-col-md12">
			<div class="layui-card">
				<div class="layui-card-header">地域分布</div>
				<div class="layui-card-body">
					<div id="regionalDistribution" style="width: 100%; height: 500px;"></div>
				</div>
			</div>
		</div>
	</div>

	<script type="text/javascript">
		var peopleCountChart = echarts.init(document.getElementById('peopleCount'));
		var peopleCountOption = {
			tooltip : {
				trigger : 'axis'
			},
			legend : {
				data : [ '2019/10/12', '2019/10/11' ],
				x : 'right'
			},
			xAxis : {
				type : 'category',
				boundaryGap : false,
				data : [ '00:00 - 00:59', '02:00 - 02:59', '04:00 - 04:59', '06:00 - 06:59' ]
			},
			grid : {
				left : '3%',
				right : '4%',
				bottom : '3%',
				containLabel : true
			},
			yAxis : {
				type : 'value',
				name : '人',
			},
			series : [ {
				type : 'line',
				name : '2019/10/12',
				data : [ 820, 100, 901, 300 ],
				areaStyle : {},
				color : '#417DF5'
			}, {
				type : 'line',
				name : '2019/10/11',
				data : [ 700, 800, 400, 1000 ],
				smooth : false,
				itemStyle : {
					normal : {
						lineStyle : {
							width : 3,
							type : 'dotted'
						}
					}
				},
				color : '#9CB7FF'
			} ]
		};
		peopleCountChart.setOption(peopleCountOption);
		
		var projectPvChart = echarts.init(document.getElementById('projectPv'));
		var projectPvOption = {
			legend : {},
			tooltip : {
				trigger : 'axis',
				showContent : false
			},
			dataset : {
				source : [
						[ 'product', '2019/10/12', '2019/10/11', '2019/10/10', '2019/10/9', '2019/10/9', '2019/10/7' ],
						[ '电商平台', 41.1, 30.4, 65.1, 53.3, 83.8, 98.7 ],
						[ '双城燃气', 86.5, 92.1, 85.7, 83.1, 73.4, 55.1 ],
						[ '兴业商城', 24.1, 67.2, 79.5, 86.4, 65.2, 82.5 ],
						[ '招商美食', 55.2, 67.1, 69.2, 72.4, 53.9, 39.1 ] ]
			},
			xAxis : {
				type : 'category',
				boundaryGap : false,
			},
			yAxis : {
				gridIndex : 0
			},
			grid : {
				top : '55%'
			},
			series : [ {
				type : 'line',
				smooth : true,
				seriesLayoutBy : 'row'
			}, {
				type : 'line',
				smooth : true,
				seriesLayoutBy : 'row'
			}, {
				type : 'line',
				smooth : true,
				seriesLayoutBy : 'row'
			}, {
				type : 'line',
				smooth : true,
				seriesLayoutBy : 'row'
			}, {
				type : 'pie',
				id : 'pie',
				radius : '30%',
				center : [ '50%', '25%' ],
				label : {
					formatter : '{b}: {@2019/10/12} ({d}%)'
				},
				encode : {
					itemName : 'product',
					value : '2019/10/12',
					tooltip : '2019/10/12'
				}
			} ]
		};
		projectPvChart.on('updateAxisPointer', function(event) {
			var xAxisInfo = event.axesInfo[0];
			if (xAxisInfo) {
				var dimension = xAxisInfo.value + 1;
				projectPvChart.setOption({
					series : {
						id : 'pie',
						label : {
							formatter : '{b}: {@[' + dimension + ']} ({d}%)'
						},
						encode : {
							value : dimension,
							tooltip : dimension
						}
					}
				});
			}
		});
		projectPvChart.setOption(projectPvOption);
		
		var projectUvChart = echarts.init(document.getElementById('projectUv'));
		var projectUvOption = {
			legend : {},
			tooltip : {
				trigger : 'axis',
				showContent : false
			},
			dataset : {
				source : [
						[ 'product', '2019/10/12', '2019/10/11', '2019/10/10', '2019/10/9', '2019/10/9', '2019/10/7' ],
						[ '电商平台', 41.1, 30.4, 65.1, 53.3, 83.8, 98.7 ],
						[ '双城燃气', 86.5, 92.1, 85.7, 83.1, 73.4, 55.1 ],
						[ '兴业商城', 24.1, 67.2, 79.5, 86.4, 65.2, 82.5 ],
						[ '招商美食', 55.2, 67.1, 69.2, 72.4, 53.9, 39.1 ] ]
			},
			xAxis : {
				type : 'category',
				boundaryGap : false,
			},
			yAxis : {
				gridIndex : 0
			},
			grid : {
				top : '55%'
			},
			series : [ {
				type : 'line',
				smooth : true,
				seriesLayoutBy : 'row'
			}, {
				type : 'line',
				smooth : true,
				seriesLayoutBy : 'row'
			}, {
				type : 'line',
				smooth : true,
				seriesLayoutBy : 'row'
			}, {
				type : 'line',
				smooth : true,
				seriesLayoutBy : 'row'
			}, {
				type : 'pie',
				id : 'pie',
				radius : '30%',
				center : [ '50%', '25%' ],
				label : {
					formatter : '{b}: {@2019/10/12} ({d}%)'
				},
				encode : {
					itemName : 'product',
					value : '2019/10/12',
					tooltip : '2019/10/12'
				}
			} ]
		};
		projectUvChart.on('updateAxisPointer', function(event) {
			var xAxisInfo = event.axesInfo[0];
			if (xAxisInfo) {
				var dimension = xAxisInfo.value + 1;
				projectUvChart.setOption({
					series : {
						id : 'pie',
						label : {
							formatter : '{b}: {@[' + dimension + ']} ({d}%)'
						},
						encode : {
							value : dimension,
							tooltip : dimension
						}
					}
				});
			}
		});
		projectUvChart.setOption(projectUvOption);
		
		var regionalDistributionChart = echarts.init(document.getElementById('regionalDistribution'));
		var regionalDistributionOption = {
			tooltip : {
				show : true,
				formatter : function(params) {
					return params.name + '：' + params.data['value']
				},
			},
			visualMap : {
				type : 'continuous',
				text : [ '', '' ],
				showLabel : true,
				seriesIndex : [ 0 ],
				min : 0,
				max : 7,
				inRange : {
					color : [ '#edfbfb', '#b7d6f3', '#40a9ed', '#3598c1',
							'#215096', ]
				},
				textStyle : {
					color : '#000'
				},
				bottom : 30,
				left : 'left',
			},
			grid : {
				right : 10,
				top : 80,
				bottom : 30,
				width : '20%'
			},
			yAxis: {
		        type: 'category',
		        nameGap: 16,
		        axisLine: {
		            show: false,
		            lineStyle: {
		                color: '#ddd'
		            }
		        },
		    },
			xAxis : {
				type : 'value',
				scale : true,
				position : 'top',
				splitNumber : 1,
				boundaryGap : false,
				splitLine : {
					show : false
				},
				axisLine : {
					show : false
				},
				axisTick : {
					show : false
				},
				axisLabel : {
					margin : 2,
					textStyle : {
						color : '#aaa'
					}
				}
			},
			geo : {
				roam : false,
				map : 'china',
				left : 'center',
				label : {
					emphasis : {
						show : false
					}
				},
				itemStyle : {
					emphasis : {
						areaColor : '#fff464'
					}
				}
			},
			series : [ {
				name : 'mapSer',
				type : 'map',
				roam : false,
				geoIndex : 0,
				label : {
					show : false,
				},
				data : [{
			        name: '北京',
			        value: 5.3
			    },
			    {
			        name: '天津',
			        value: 3.8
			    },
			    {
			        name: '上海',
			        value: 4.6
			    },
			    {
			        name: '重庆',
			        value: 3.6
			    },
			    {
			        name: '河北',
			        value: 3.4
			    },
			    {
			        name: '河南',
			        value: 3.2
			    },
			    {
			        name: '云南',
			        value: 1.6
			    },
			    {
			        name: '辽宁',
			        value: 4.3
			    },
			    {
			        name: '黑龙江',
			        value: 4.1
			    },
			    {
			        name: '湖南',
			        value: 2.4
			    },
			    {
			        name: '安徽',
			        value: 3.3
			    },
			    {
			        name: '山东',
			        value: 3.0
			    },
			    {
			        name: '新疆',
			        value: 1
			    },
			    {
			        name: '江苏',
			        value: 3.9
			    },
			    {
			        name: '浙江',
			        value: 3.5
			    },
			    {
			        name: '江西',
			        value: 2.0
			    },
			    {
			        name: '湖北',
			        value: 2.1
			    },
			    {
			        name: '广西',
			        value: 3.0
			    },
			    {
			        name: '甘肃',
			        value: 1.2
			    },
			    {
			        name: '山西',
			        value: 3.2
			    },
			    {
			        name: '内蒙古',
			        value: 3.5
			    },
			    {
			        name: '陕西',
			        value: 2.5
			    },
			    {
			        name: '吉林',
			        value: 4.5
			    },
			    {
			        name: '福建',
			        value: 2.8
			    },
			    {
			        name: '贵州',
			        value: 1.8
			    },
			    {
			        name: '广东',
			        value: 3.7
			    },
			    {
			        name: '青海',
			        value: 0.6
			    },
			    {
			        name: '西藏',
			        value: 0.4
			    },
			    {
			        name: '四川',
			        value: 3.3
			    },
			    {
			        name: '宁夏',
			        value: 0.8
			    },
			    {
			        name: '海南',
			        value: 1.9
			    },
			    {
			        name: '台湾',
			        value: 0.1
			    },
			    {
			        name: '香港',
			        value: 0.1
			    },
			    {
			        name: '澳门',
			        value: 0.1
			    }
			]
			} ]
		};
		regionalDistributionChart.setOption(regionalDistributionOption);

		window.onresize = function() {
			peopleCountChart.resize();
			projectPvChart.resize();
			projectUvChart.resize();
		}
	</script>
</div>